#!/usr/bin/make -f
# -*- makefile -*-

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@

override_dh_install:
	python setup.py install \
	    --root=debian/python-etf \
	    --prefix=/usr --install-layout=deb
